@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0%;
    padding: 0%;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

#div-header {
    display: flex;
    width: 100%;
}

#logoPokemon {
    width: 18%;
    margin: 0px 5px;
}

#barraBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#barraBusqueda>div {
    margin-left: 5px;

}

#barraBusqueda>form {
    height: 50%;
    display: flex;
    align-items: center;
}

#inputBusqueda {
    border-radius: 15px;
    height: 50%;
}

.todosPokemon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


main {
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
}

.pokemonImg img {
    width: 100%;
    max-width: 8rem;
}

.pokemonImg {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemonInfo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.cardPokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    text-transform: capitalize;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    box-shadow: 0px 0px 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
}

.pokemonIdBack {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translatex(-50%);
    font-size: 6rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}

.pokemonTipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.cotenedorNombre {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.idPokemon {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.nombrePokemon {
    font-size: 1.4rem;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemonStats {
    display: flex;
    gap: 1rem;
    font-size: .81rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

@media screen and (min-width: 470px) {
    .todosPokemon {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .todosPokemon {
        grid-template-columns: 1fr 1fr 1fr;
    }
}





















.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}